@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
    font-family:'PT Sans', sans-serif ;
    background: linear-gradient(to bottom right, rgb(51, 50, 50) ,white);
}
.img-banniere{
    width: 100%;
}
.logo-clap{
    float: right;
}
h1,h2{
    text-align: center;
    padding: 20px;
}
.card{
    height:350px;
}
h3{
    
    text-decoration: underline;
}
.row{
    margin: 40px;
}
.excuses{
    font-weight: lighter;
    font-style: italic;
}
.bas-de-page{
    position: relative;
    text-align: end;
    color: beige;
}
.p-footer{
    position: absolute;
    top: 550px;
    left: 200px;
    transform: translate(-50%, -50%);
}
