@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
    font-family: 'PT Sans', sans-serif;
    background:linear-gradient(to bottom,rgb(53, 53, 2), rgb(194, 194, 181) );
    
}

h1{
    text-align: center;
   padding: 50px;
    font-weight:bold ;
   
   
    }
h2{
    color: rgb(8, 12, 26);
    text-decoration: underline;
  padding-left: 50px;
}
.row{
    margin: 50px;
}

footer >p{
   color: rgb(20, 14, 14);  
}
@media  screen and (max-width:1000px) {
    .cannes{
        display: none;
    }
}
.cannes{
    height: 500px;
}
footer div{
    position: relative;
}

.col-4{
  color: aliceblue;
  position: absolute;
  bottom: 0;
  left: 700px;
}
