@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
    font-family:'PT Sans', sans-serif ;
    background: linear-gradient(to bottom right, rgb(51, 50, 50) ,white);
}
.img-banniere{
    width: 100%;
}
.logo-clap{
    float: right;
}
@media  screen and (max-width:768px){
   .logo-clap{
    display: none;
   }
}
h1,h2{
    text-align: center;
    padding: 20px;
}
.card{
   padding: 30px;
}

h3{
    
    text-decoration: underline;
}
.row{
    margin: 40px;
}
.excuses{
    font-weight: lighter;
    font-style: italic;
}
@media screen and (max-width:1400px){
    .p-footer{
        display: none;
    }
}
.bas-de-page{
    position: relative;
    text-align: center;
    color: beige;
}
.p-footer{
    position: absolute;
    top: 550px;
    left: 180px;
    
}
img{
    padding: 20px;
    
}
